.App {
  text-align: center;
}

html{
  /*background-color: #E9E9E9;*/
  font-family: 'Karla', sans-serif;
  --border-color: #474747;

  /*Context colors - for items that have an action or have meaning other than just style.*/
  --context-green: #C7D645;
  --context-red: #A62A32;
  --context-blue: #90D5DA;
  --context-grey: #46575E;

}
::selection {
  background: #28aae1;
}



input:focus{
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* AUTO FILL STYLING*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /*Remove autofill styling*/
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* HELPER CLASSES */

.text-green {
  color: #0b0;
}

.m-0 {
  margin: 0;
}